body {
	background-color: #1a1f2d;
	font-family: 'Nanum Gothic', sans-serif;
    color: #93dce5;
    text-align: justify;
}
p.info {
    margin-top: 125px;
    margin-left: 2px;
    font-size: 18px;
}
img.avatar {
    width: 100px;
    border-radius: 100px;
    border: 3px solid #93dce5;
    position: fixed;
    top: 10px;
    left: 10px;
    right: 0px;
}
p.header {
    position: fixed;
    top: 35px;
    left: 130px;
    right: 0px;
    width: 50%;
    text-align: center;
    font-size: 30px;
    border: 3px solid #93dce5;
    border-radius: 3px;
    background-color: #303952;
    padding-top: 5px;
    padding-bottom: 5px;
}
.section {
    border: 3px solid #93dce5;
    border-radius: 3px;
    background-color: #303952;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    width: 59%;
    margin-bottom: 15px;
}
.sectionheader {
    margin: 0px;
    font-size: 24px;
}
.command {
    color: #f78fb3;
}
.explanation {
    color: #f7d794;
}
p.credits {
    font-size: 14px;
}